<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Home</title>
</head>
<body style='background-color: grey; justify-items: center;'>
    
    {% if request.user.is_authenticated %}
        <div style='border: 2px solid; width: 100%; justify-items: end;  margin-bottom: 5px;'>
            <div style='padding: 10px;'>
                <a href="{% url "logout" %}"><button>Logout</button></a>
            </div>
        </div>

        {% if messages %}
            {% for msg in messages %}
                {{ msg }}
            {% endfor %}
        {% endif %}

        <h1>Logged in User: "{{ request.user }}"</h1>

        <form action="{% url 'search_book' %}" method="GET">
            <div style='display: flex'>
                <input style='border-radius: 15px; padding: 10px; width: 100%;'
                type="text" name='book' placeholder='Search Books' value={{query}}>
                <button type="submit" style='border-radius: 15px;'>Search</button>
            </div>
        </form>
        
        <h1>Library Books</h1>

        <div style='border: 0.5px solid; background-color: white; width: 50%'>
            <table>
                <tr>
                    <th style='border: 1px solid; padding: 5px;'>Name</th>
                    <th style='border: 1px solid; padding: 5px;'>Author</th>
                    <th style='border: 1px solid; padding: 5px;'>Quantity</th>
                </tr>
                {% for book in book %}
                    <tr>
                        <td style='border: 1px solid; padding: 5px; text-align: center;'>{{ book.name }}</td>
                        <td style='border: 1px solid; padding: 5px; text-align: center;'>{{ book.author }}</td>
                        <td style='border: 1px solid; padding: 5px; text-align: center;'>{{ book.quantity }}</td>
                        {% if perms.Books.delete_books %}
                            <td style='padding: 5px;'><button type='submit' style='cursor: pointer; padding: 5px;'><a href="{% url "delete_book" book.id %}">Delete Book</a></button></td>
                            <td style='padding: 5px;'><button type='submit' style='cursor: pointer; padding: 5px;'><a href="{% url "update_book" book.id %}">Update Book</a></button></td>
                        {% endif %}
                        
                        
                        {% if book.id in borrowed_books_ids %}
                            <td style='padding: 5px;'><button style='padding: 5px;'>Book Borrowed</button></td>
                        {% else %}
                            <td style='padding: 5px;'><button style='cursor: pointer; padding: 5px;'><a href="{% url "borrow_book" book.id %}">Borrow Book</a></button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>   
        </div>
        {% if perms.Books.add_books %}
            <div>
                <button style='cursor: pointer; padding: 5px; margin-top: 10px;'><a href="{% url "add_book" %}">Add Book</a></button>
            </div>    
        {% endif %}
        
    {% else %}
        <div style='border: 2px solid; width: 100%; justify-items: end;  margin-bottom: 5px;'>
            <div style='padding: 10px;'>
                <a href="{% url "login" %}"><button>Login</button></a>
                <a href="{% url "register" %}"><button>Register</button></a>
            </div>
        </div>
        <h1>Login to see Home Page</h1>
    {% endif %}
    <div style='margin-top: 10px;'>
        <a href="{% url 'books_view' %}"><button style='border-radius: 10px;'>Home Page</button></a>
    </div>
    
    
</body>
</html>